@import url('https://fonts.cdnfonts.com/css/eurostile');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;700&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/europanuova');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("./style/logoPage.css");
@import url("./style/presentacionStyle.css");
@import url("./style/aboutMeStyles.css");
@import url("./style/navStyles.css");
@import url("./style/skillsStyles.css");
@import url("./style/projectStyles.css");
@import url("./style/contacStyles.css");
@import url("./style/footerStyles.css");


:root {
    /*========== Colors ==========*/
    --nave: url(https://www.flaticon.es/download/icon/2285537?icon_id=2285537&author=427&team=427&keyword=lanzadera&pack=2285527&style=0&style_id=6&format=png&color=%23000000&colored=2&size=512&selection=1&premium=0&type=standard);
    --body-color: radial-gradient(#f3f5f5, aliceblue);
    --body-color2: radial-gradient(#1d1f20, #000);

    --nav-color: radial-gradient(#f3f5f5, aliceblue);
    --first-color: #4DCCCA;
    --secund-color: #6246EF;

    --button-color: #5DD1CF;
    --button-color-border: #79D9D7;
    --hover: radial-gradient(#1d1f20, #000);

    --text-color-hoverINV: #f0f8ff;
    --text-color-hover: #f0f8ff;
    --title-color-h1: #0F183B;
    --title-color: #111A41;
    --title-secund-color: #5DD1CF;
    --subtitle-color: #10193D;
    --paragraph-color: #2F7386;
    --text-color: #5C627B;

    --shadow: rgb(160, 160, 160);
    /*========== Se manejaran 3 tamanios max-width ==========*/
    --mobile: 780px;
    --tablet: 960px;
    --desktop: 1200px;
    /*========== Font and typography ==========*/
    --body-font: "Roboto", sans-serif;
}

/*
font-family: 'Eurostile', sans-serif;
    font-family: 'Montserrat', sans-serif;
    /* color: #4DCDCB; - color primario */
/* color: #6246ef; - color primario */
/* font-family: 'EuropaNuova-Bold', sans-serif;
    font-family: 'EuropaNuova-ExtraBold', sans-serif;
    font-family: 'EuropaNuova-Regular', sans-serif;
    font-family: 'Sono', sans-serif; */

body.theme__dark {
    /* --nave: url(https://www.flaticon.es/download/icon/2285537?icon_id=2285537&author=427&team=427&keyword=lanzadera&pack=2285527&style=0&style_id=6&format=png&color=%23000000&colored=2&size=512&selection=1&premium=0&type=standard); */
    --body-color2: radial-gradient(#f3f5f5, aliceblue);
    --body-color: radial-gradient(#1d1f20, #000);

    --nav-color: radial-gradient(#1d1f20, #000);
    --first-color: #6246EF;
    --secund-color: #4DCCCA;

    --button-color: #6246EF;
    --button-color-border: #6246EF;
    --hover: radial-gradient(#1d1f20, #000);

    --text-color-hoverINV: #1c1c1d;
    --text-color-hover: #f0f8ff;
    --title-color-h1: #D3D6DC;
    --title-color: #CACDD5;
    --title-secund-color: #6246EF;
    --subtitle-color: #826FE2;
    --paragraph-color: #999EAD;
    --text-color: #D3D6DC;

    --shadow: ;
}

* {
    font-size: 22px;
    background: transparent;
    font-family: 'EuropaNuova-Regular', sans-serif;

}

html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
    transition: background 1s ease !important;


}

#body-person {
    background: var(--body-color);

}

/**/
.lenguage {

    z-index: 1000;
    background: #212529;
    border-radius: 50px;
    position: fixed;
    cursor: pointer;
    display: flex;
    top: 83%;
    left: -36%;
    border: 4px solid var(--first-color);
    transition: 1s ease;
    width: 125px;
    height: 40px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.activeGears {
    left: 8%;
}

.btnGears {
    top: 90%;
    left: 85%;
    width: 40px;
    height: 40px;
    background: #212529;
    border-radius: 50px;
    position: fixed;
    cursor: pointer;
    display: flex;
    color: #fff;
    border: 4px solid var(--first-color);
    transition: 1s ease;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.btnLenguage {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgLenguage {
    width: 30px;
    height: 25px;
}

.switchTheme-active {
    left: 8% !important;
    /* transition: left 1s ease !important; */
}

.switch {
    background: #212529;
    border-radius: 50px;
    border: none;
    position: fixed;
    cursor: pointer;
    display: flex;
    outline: none;
    top: 90%;
    /* modificar ubicacion a medida crece*/
    left: -22%;
    /* modificar ubicacion a medida crece*/
    border: 4px solid var(--first-color);
    transition: left 1s ease;
    z-index: 1000;
}

.switch>span {
    width: 30px;
    height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 1;
    left: 1px;
    right: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0, 0.2);
    transition: 1s ease;
}

.bxs-sun {
    background: #212529;
    color: orange;
}

.switch.activeDark::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 1;
    left: 40.75px;
    right: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0, 0.2);
}

/*===========================*/


/*===========================*/


.title {
    color: var(--title-color);
    font-weight: 800;
    text-align: center;
    font-family: "europa", sans-serif;
    font-size: 40px;
    margin-bottom: 1rem;
}

.subtitle {
    font-family: "europa", sans-serif;
    line-height: 1.5;
    font-weight: 800;
    font-size: 24px;
    color: var(--subtitle-color);
    text-align: center;
}

.subtitle-secund {
    font-family: "europa", sans-serif;
    text-align: justify;
    line-height: 1.5;
    font-weight: 500;
    font-size: 18px;
    color: var(--subtitle-color);
}

.paragraph {
    color: var(--paragraph-color);
    text-align: justify;
    font-weight: 100;
    font-size: 18px;
}

.bxs-calendar {
    color: var(--first-color);
}

.imgPage {
    max-width: 400px;
    object-fit: contain;
    transition: ease-in 2s;
    border-radius: 2%;
}


.cont-row-col {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


/*=================================*/
@media screen and (max-width: 480px) {
    .imgSkill {
        width: 50px;
        height: 50px;
    }

    .nameSkill {
        font-size: 12px;
        transition: 1s ease;
    }

    #btn-person {
        font-size: 15px;
        transition: 1s ease;
        padding: 15px;
    }

    .skill-contSkllItem>div>div {
        transition: 1s ease;
    }

}

@media screen and (min-width: 720px) {


    .carrousel-btPrev {
        position: absolute;
        top: 50%;
        left: 10%;
    }

    .carrousel-btNext {
        position: absolute;
        top: 50%;
        left: 86%;
    }

    .cont-Carrousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
    }
    .imgbtnLink {
        width: 60px;
        border-radius: 50%;
        padding: 6px !important;
        transition: 1s ease;

    }
    .cont-btnLinkInf {
        margin: 2rem auto;
        gap: 2rem;
        transition: 1s ease;
    }

}

@media screen and (min-width: 980px) {

    .cont-img-present {
        align-items: center;
    }
    .imgbtnLink {
        width: 90px;
        border-radius: 50%;
        padding: 6px !important;
        transition: 1s ease;

    }
    .cont-btnLinkInf {
        margin: 4rem auto;
        gap: 3rem;
        transition: 1s ease;
    }
}